# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\zmddd\Desktop\Studia\Mgr Sem II\Przetwarzanie-danych-w-biznesie\CollaborativeFilteringRecommender\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
